# Create Test Objects

1. Create DataFrame using Random Number
2. Create Series
3. Create date index

In [1]:
import pandas as pd
import numpy as np

# Create Data Frame

In [2]:
df = pd.DataFrame(np.random.rand(20,5))

In [3]:
df

           0         1         2         3         4
0   0.106595  0.986427  0.710345  0.885370  0.260679
1   0.214539  0.422676  0.823044  0.120543  0.119056
2   0.857114  0.499149  0.484239  0.130784  0.548971
3   0.674684  0.167772  0.086683  0.628018  0.005227
4   0.340783  0.525859  0.199784  0.704796  0.612218
5   0.355099  0.388316  0.159855  0.003059  0.108976
6   0.531695  0.259173  0.248816  0.202807  0.746108
7   0.397905  0.335148  0.263243  0.144974  0.495637
8   0.146401  0.269298  0.450123  0.431278  0.506097
9   0.951596  0.901556  0.168171  0.300748  0.613989
10  0.787593  0.412594  0.276375  0.149364  0.782274
11  0.615406  0.402162  0.311744  0.920890  0.726746
12  0.123695  0.366681  0.592425  0.333769  0.000974
13  0.855229  0.431838  0.851207  0.810449  0.745773
14  0.515912  0.574120  0.681199  0.556669  0.652545
15  0.385030  0.734620  0.494176  0.908179  0.118706
16  0.250661  0.668807  0.303940  0.744974  0.151355
17  0.095994  0.647641  0.994678  0.794417  0.150396
18  0.082488  0.096601  0.292510  0.995621  0.165743
19  0.940022  0.252010  0.877176  0.855564  0.580708

# Create Series

In [4]:
my_list=[2,3,4,5,6]
pd.Series(my_list)

0    2
1    3
2    4
3    5
4    6
dtype: int64

# Adds Date Index

In [5]:
df.index=pd.date_range('2021/1/30', periods=df.shape[0])

In [6]:
df

                   0         1         2         3         4
2021-01-30  0.106595  0.986427  0.710345  0.885370  0.260679
2021-01-31  0.214539  0.422676  0.823044  0.120543  0.119056
2021-02-01  0.857114  0.499149  0.484239  0.130784  0.548971
2021-02-02  0.674684  0.167772  0.086683  0.628018  0.005227
2021-02-03  0.340783  0.525859  0.199784  0.704796  0.612218
2021-02-04  0.355099  0.388316  0.159855  0.003059  0.108976
2021-02-05  0.531695  0.259173  0.248816  0.202807  0.746108
2021-02-06  0.397905  0.335148  0.263243  0.144974  0.495637
2021-02-07  0.146401  0.269298  0.450123  0.431278  0.506097
2021-02-08  0.951596  0.901556  0.168171  0.300748  0.613989
2021-02-09  0.787593  0.412594  0.276375  0.149364  0.782274
2021-02-10  0.615406  0.402162  0.311744  0.920890  0.726746
2021-02-11  0.123695  0.366681  0.592425  0.333769  0.000974
2021-02-12  0.855229  0.431838  0.851207  0.810449  0.745773
2021-02-13  0.515912  0.574120  0.681199  0.556669  0.652545
2021-02-14  0.385030  0.734620  0.494176  0.908179  0.118706
2021-02-15  0.250661  0.668807  0.303940  0.744974  0.151355
2021-02-16  0.095994  0.647641  0.994678  0.794417  0.150396
2021-02-17  0.082488  0.096601  0.292510  0.995621  0.165743
2021-02-18  0.940022  0.252010  0.877176  0.855564  0.580708