# Exporting data

1. Save csv file
2. Save Excel file
3. Save SQL file
4. Save json data
5. Save HTML data
6. Save clipboard data

In [1]:
#loading required libraries
import pandas as pd

# Save CSV data

In [2]:
ls

ex1.csv*                    exporting_data.ipynb
ex1.xlsx*                   fdic_failed_bank_list.html*
ex1_csv                     html_data
example.json*               json_data
excel_save.xlsx

In [3]:
df1=pd.read_csv("ex1.csv")
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
df1.to_csv("ex1_csv")

# Save Excel data

In [5]:
df2=pd.read_excel("ex1.xlsx")
df2

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [6]:
df2.to_excel("excel_save.xlsx")

# Save Json data

In [7]:
df3=pd.read_json('example.json')
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df3.to_json("json_data")

# Save HTML Data

In [9]:
df4=pd.read_html("fdic_failed_bank_list.html")
df4=df4[0]

In [10]:
df4.to_html("html_data")