# Load different type of Data

1. Load CSV data
2. Load Table data
3. Load Excel Data
4. Load SQL data
5. Load JSON data
6. Load XML and HTML data
7. Load Clipboard data
8. Load dataframe
9. Load data from Github
10. Load Binary data Formats
11. Load HDF5 data Formats
12. Web APIs data
13. Set the working directory
14. with open data
15. zip folder
16. Create date time
17. Load data from SQL lite, sql, mongodb

In [1]:
#loading required libraries
import numpy as np
import pandas as pd
import os
from os import path

# Set the working directory

In [2]:
workingdir=os.getcwd()
path=workingdir+'/examples/ex1.csv'
path

'/Users/mdsanowarhossain/Documents/python/Pandas/Data Ananlysis/examples/examples/ex1.csv'

In [3]:
pwd

'/Users/mdsanowarhossain/Documents/python/Pandas/Data Ananlysis/examples'

# Load CSV Data

In [4]:
df=pd.read_csv("ex1.csv")

In [5]:
#show 1st five data
df.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
#check the data type
type(df)

pandas.core.frame.DataFrame

In [7]:
#show last five row
df.tail()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
df.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
type(df)

pandas.core.frame.DataFrame

# Load Table data using separate by tab

In [10]:
df2=pd.read_csv("test.tsv",sep='\t')

In [11]:
df2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

# Load CSV data using separate by coma

In [12]:
#load csv data by table_table
df3=pd.read_table("ex1.csv",sep=',')

In [13]:
df3

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Load CSV data without using header

In [14]:
df5=pd.read_csv("ex1.csv",header=None)

In [15]:
df5

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

# Load CSV data with header by manually define names

In [16]:
df6=pd.read_csv("ex2.csv",names=['a','b','c','d'])

In [17]:
df6

    a   b   c      d
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

# Load CSV data using multilebel indexes

In [18]:
index_data=pd.read_csv("csv_mindex.csv",index_col=['key1','key2'])
index_data

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

# Load CSV data which are not read able format; here row 0,2,3 are not readable data

In [19]:
df7=pd.read_csv("ex4.csv")
df7

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [20]:
df8=pd.read_csv("ex4.csv",skiprows=[0,2,3],names=['x','y','z','w'])
df8

    x   y   z        w
a   b   c   d  message
1   2   3   4    hello
5   6   7   8    world
9  10  11  12      foo

# Load CSV data which is replaced NaN value by True or False

In [21]:
df9=pd.read_csv("ex5.csv")
df9
pd.isnull(df9)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [22]:
df11=pd.read_csv("ex5.csv")
df11

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
df10=pd.read_csv("ex5.csv",na_values=['NULL'])
df10

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

# Load Excel data with different sheet and index_col

In [24]:
#!pip install openpyxl

In [25]:
df11=pd.read_excel("ex1.xlsx",index_col=[0],sheet_name="Sheet2")
df11

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Load HTML Data

* read data from the specific url
* more html data will load by beautifull suop

In [26]:
url="https://www.basketball-reference.com/leagues/NBA_2019.html"
df=pd.read_html(url)
df12=df[0]#convert data frame from list
df12.head()
#df['W']#this is list;series data
df12[['W','L']]# this is data frame

     W   L
0   60  22
1   58  24
2   51  31
3   49  33
4   48  34
5   42  40
6   42  40
7   41  41
8   39  43
9   39  43
10  32  50
11  29  53
12  22  60
13  19  63
14  17  65

# Load CSV data using GitHub link

In [27]:
df13=pd.read_csv("https://raw.githubusercontent.com/HossainSanowar-Github/titanic_dataset/main/train.csv")
df13

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
df13.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [29]:
df13[['Name','Sex','Age']]

                                                  Name     Sex   Age
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

[891 rows x 3 columns]

In [30]:
df13[['Name','Age','Sex']].head()

                                                Name   Age     Sex
0                            Braund, Mr. Owen Harris  22.0    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                             Heikkinen, Miss. Laina  26.0  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
4                           Allen, Mr. William Henry  35.0    male

# Load CSV data and display 5 and 10 rows

In [31]:
df14 = pd.read_csv('ex6.csv')
df14.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [32]:
#display can be 5, 10 rows
#reduce the memory when the loading data
df15 = pd.read_csv('ex6.csv',nrows=10)
df15

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

# Try to define the Data size

In [33]:
df16 = pd.read_csv('ex6.csv', chunksize=1000)
df16

# Load csv data by with open format

In [34]:
import csv
with open("ex7.csv") as f:
    df17=csv.reader(f)
df17

In [35]:
try:
    for i in df17:
        print(i)
except Exception as e:
    print(e)

I/O operation on closed file.

#### The above block is not worked, because the file is already closed

# Load csv data by open format

In [36]:
f1=open("ex7.csv")
df18=csv.reader(f1)
df18

In [37]:
for i in df18:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [38]:
with open('ex7.csv') as f:
    lines=list(csv.reader(f))

In [39]:
header, values = lines[0],lines[1:]
print(header)
print(values)

['a', 'b', 'c']
[['1', '2', '3'], ['1', '2', '3']]

# Zip folders

In [40]:
zip(header, values)

In [41]:
list(zip(header, values))

[('a', ['1', '2', '3']), ('b', ['1', '2', '3'])]

In [42]:
list(zip(*values))

[('1', '1'), ('2', '2'), ('3', '3')]

In [43]:
list(zip(header, zip(*values)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [44]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [45]:
c,n=('a',(1,1))

In [46]:
n

(1, 1)

In [47]:
l1=['a','b','c']
l2=[1,2,3]

In [48]:
for i in zip(l1,l2):
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [49]:
{k:v for k,v in zip(l1,l2)}

{'a': 1, 'b': 2, 'c': 3}

# Load JSON Data

http://jsonviewer.stack.hu/

In [50]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [51]:
#convert str to dict
import json
df19 = json.loads(obj)
df19

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [52]:
siblings = pd.DataFrame(df19['siblings'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

# convert dict to str

In [53]:
asjson=json.dumps(df19)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [54]:
siblings = pd.DataFrame(df19['siblings'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [55]:
df20 = pd.read_json('example.json')
df20

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Save json data

In [56]:
print(df20.to_json())
print(df20.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

# Load XML and HTML data using Web Scaping

In [57]:
df21 = pd.read_html('fdic_failed_bank_list.html')
print(len(df21))
df21=df21[0]
df21

1

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

# Create DateTime

In [58]:
close_date=pd.to_datetime(df21['Closing Date'])
close_date

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

# Create Year with count value

In [59]:
# can create year, month, day, quater, hour, minitue, second
close_date.dt.year
close_date.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

# Load Binary Data Formats using csv
* Load CSV data
* Save pickle format data and load it

In [60]:
df22= pd.read_csv('ex1.csv')
df22.to_pickle('df22_pickle')

In [61]:
pd.read_pickle('df22_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Load HDF5 Format data

In [62]:
#!pip install tables

In [63]:
df23=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('mydata.h5')
store['obj1']=df23
store['obj1_col']=df23['a']
df23
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

# Load web APIs data

In [64]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
df24=requests.get(url)
df24

In [65]:
data=df24.json()
data[0]['user']

{'login': 'weikhor',
 'id': 36619387,
 'node_id': 'MDQ6VXNlcjM2NjE5Mzg3',
 'avatar_url': 'https://avatars.githubusercontent.com/u/36619387?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/weikhor',
 'html_url': 'https://github.com/weikhor',
 'followers_url': 'https://api.github.com/users/weikhor/followers',
 'following_url': 'https://api.github.com/users/weikhor/following{/other_user}',
 'gists_url': 'https://api.github.com/users/weikhor/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/weikhor/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/weikhor/subscriptions',
 'organizations_url': 'https://api.github.com/users/weikhor/orgs',
 'repos_url': 'https://api.github.com/users/weikhor/repos',
 'events_url': 'https://api.github.com/users/weikhor/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/weikhor/received_events',
 'type': 'User',
 'site_admin': False}

In [66]:
df25=pd.DataFrame(data,columns=['number','title','labels','state'])
df25

,number,title,labels,state
0,46162,Bug Fix GroupBy.describe produces inconsistent...,[],open
1,46161,Update test_fillna.py,[],open
2,46160,Backport PR #46124 on branch 1.4.x (DOC: Impro...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
3,46159,Backport PR #45902 on branch 1.4.x (Use Mamba ...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
4,46158,Backport PR #46118 on branch 1.4.x (CI: Align ...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
5,46156,BUG: MultiIndex slicing with negative step,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,46154,BUG: Converting `pd.Timestamp.min` to equivale...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,46153,Adding tests for IntervalArray.unique() for Da...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
8,46152,BUG: Styler cannot accept semicolon in CSS val,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,46149,PERF: Series.fillna (that is part of DataFrame...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
10,46147,ENH: Enumeration grouping,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
11,46145,BUG: dataframe/series.isna().sum() overcounts ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,46144,CI/TST: Flaky test `test_union_different_types`,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
13,46142,"REF: combine masked_cummin_max, cummin_max","[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
14,46141,[WIP] DataFrame exchange protocol,[],open
15,46140,Bug fix extension array with 2d datetime64,[],open
16,46138,BUG: NotImplementedError: Cannot apply ufunc <...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,46137,CLN: Remove Categorical.itemsize,[],open
18,46135,"BUG: rolling with axis=1, win_type=, and cente...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,46134,DEPR: non-keyword args in EA.argsort,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
20,46133,"TYP: groupby, sorting",[],open
21,46132,BUG: rolling aggregate() with a list of functi...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,46131,REF: remove no-longer-needed _validate_numeric...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
23,46129,BUG: df.plot(kind='barh') does not show xlabel,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,46126,ENH: Conversion function errors kwarg callback...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
25,46122,ENH: Add option to specify table captions to b...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
26,46121,TYP: assorted,[],open
27,46116,[Work in progress] perf improvements for strftime,[],open
28,46114,DOC: Add note for tail/head when n is larger t...,[],open
29,46112,BUG: DataFrame.to_json does not take into acco...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

# How to get data of labels columns using dataframe

In [67]:
#solution 1
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
df26=requests.get(url)

df27=df26.json()
masterDF=pd.DataFrame(columns=['id','node_id','url','name','color','default','description'])
for i in range(30):
    s= pd.DataFrame(df27[i]['labels'],columns=['id','node_id','url','name','color','default','description'])
    masterDF=masterDF.append(s,ignore_index=True)
masterDF

,id,node_id,url,name,color,default,description
0,134699,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...,Docs,3465A4,False,None
1,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Continuous Integration
2,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Continuous Integration
3,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
4,2822098,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...,Indexing,0b02e1,False,"Related to indexing on series/frames, not to i..."
5,71268330,MDU6TGFiZWw3MTI2ODMzMA==,https://api.github.com/repos/pandas-dev/pandas...,MultiIndex,207de5,False,None
6,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
7,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
8,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False,pandas testing functions or related to the tes...
9,150096370,MDU6TGFiZWwxNTAwOTYzNzA=,https://api.github.com/repos/pandas-dev/pandas...,Interval,009800,False,Interval data type
10,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
11,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
12,8935311,MDU6TGFiZWw4OTM1MzEx,https://api.github.com/repos/pandas-dev/pandas...,Performance,a10c02,False,Memory or execution speed performance
13,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
14,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
15,307649777,MDU6TGFiZWwzMDc2NDk3Nzc=,https://api.github.com/repos/pandas-dev/pandas...,Needs Info,207de5,False,Clarification about behavior needed to assess ...
16,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
17,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
18,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False,pandas testing functions or related to the tes...
19,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Continuous Integration
20,76939933,MDU6TGFiZWw3NjkzOTkzMw==,https://api.github.com/repos/pandas-dev/pandas...,Unreliable Test,5319e7,False,Unit tests that occasionally fail
21,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False,Internal refactoring of code
22,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
23,307649777,MDU6TGFiZWwzMDc2NDk3Nzc=,https://api.github.com/repos/pandas-dev/pandas...,Needs Info,207de5,False,Clarification about behavior needed to assess ...
24,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
25,1045950827,MDU6TGFiZWwxMDQ1OTUwODI3,https://api.github.com/repos/pandas-dev/pandas...,Window,d4c5f9,False,"rolling, ewma, expanding"
26,87485152,MDU6TGFiZWw4NzQ4NTE1Mg==,https://api.github.com/repos/pandas-dev/pandas...,Deprecate,5319e7,False,Functionality to remove in pandas
27,849023693,MDU6TGFiZWw4NDkwMjM2OTM=,https://api.github.com/repos/pandas-dev/pandas...,ExtensionArray,6138b5,False,Extending pandas with custom dtypes or arrays.
28,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
29,697792067,MDU6TGFiZWw2OTc3OTIwNjc=,https://api.github.com/repos/pandas-dev/pandas...,Apply,fbca04,False,"Apply, Aggregate, Transform"
30,1045950827,MDU6TGFiZWwxMDQ1OTUwODI3,https://api.github.com/repos/pandas-dev/pandas...,Window,d4c5f9,False,"rolling, ewma, expanding"
31,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False,Internal refactoring of code
32,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
33,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
34,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
35,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
36,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
37,251382258,MDU6TGFiZWwyNTEzODIyNTg=,https://api.github.com/repos/pandas-dev/pandas...,IO LaTeX,006b75,False,to_latex
38,1728592794,MDU6TGFiZWwxNzI4NTkyNzk0,https://api.github.com/repos/pandas-dev/pandas...,Styler,006b75,False,conditional formatting using DataFrame.style
39,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
40,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...

In [68]:
#solution2
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
data=resp.json()
df28=pd.DataFrame(data,columns=['labels'])

x=[]
for i in range(len(df28)):
    if len(df28['labels'][i])==0:
        y={
            'id':'',
            'node_id':"",
            'url':"",
            'name':'',
            'color':'',
            'default':'',
            'description':''
        }
        x.append(y)
    elif len(df28['labels'][i])!=0:
        for j in range(len(df28['labels'][i])):
            x.append(df28['labels'][i][j])
pd.DataFrame(x)

,id,node_id,url,name,color,default,description
0,,,,,,,
1,,,,,,,
2,134699,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...,Docs,3465A4,False,None
3,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Continuous Integration
4,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Continuous Integration
5,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
6,2822098,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...,Indexing,0b02e1,False,"Related to indexing on series/frames, not to i..."
7,71268330,MDU6TGFiZWw3MTI2ODMzMA==,https://api.github.com/repos/pandas-dev/pandas...,MultiIndex,207de5,False,None
8,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
9,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
10,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False,pandas testing functions or related to the tes...
11,150096370,MDU6TGFiZWwxNTAwOTYzNzA=,https://api.github.com/repos/pandas-dev/pandas...,Interval,009800,False,Interval data type
12,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
13,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
14,8935311,MDU6TGFiZWw4OTM1MzEx,https://api.github.com/repos/pandas-dev/pandas...,Performance,a10c02,False,Memory or execution speed performance
15,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
16,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
17,307649777,MDU6TGFiZWwzMDc2NDk3Nzc=,https://api.github.com/repos/pandas-dev/pandas...,Needs Info,207de5,False,Clarification about behavior needed to assess ...
18,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
19,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
20,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False,pandas testing functions or related to the tes...
21,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False,Continuous Integration
22,76939933,MDU6TGFiZWw3NjkzOTkzMw==,https://api.github.com/repos/pandas-dev/pandas...,Unreliable Test,5319e7,False,Unit tests that occasionally fail
23,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False,Internal refactoring of code
24,,,,,,,
25,,,,,,,
26,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
27,307649777,MDU6TGFiZWwzMDc2NDk3Nzc=,https://api.github.com/repos/pandas-dev/pandas...,Needs Info,207de5,False,Clarification about behavior needed to assess ...
28,,,,,,,
29,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
30,1045950827,MDU6TGFiZWwxMDQ1OTUwODI3,https://api.github.com/repos/pandas-dev/pandas...,Window,d4c5f9,False,"rolling, ewma, expanding"
31,87485152,MDU6TGFiZWw4NzQ4NTE1Mg==,https://api.github.com/repos/pandas-dev/pandas...,Deprecate,5319e7,False,Functionality to remove in pandas
32,849023693,MDU6TGFiZWw4NDkwMjM2OTM=,https://api.github.com/repos/pandas-dev/pandas...,ExtensionArray,6138b5,False,Extending pandas with custom dtypes or arrays.
33,,,,,,,
34,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
35,697792067,MDU6TGFiZWw2OTc3OTIwNjc=,https://api.github.com/repos/pandas-dev/pandas...,Apply,fbca04,False,"Apply, Aggregate, Transform"
36,1045950827,MDU6TGFiZWwxMDQ1OTUwODI3,https://api.github.com/repos/pandas-dev/pandas...,Window,d4c5f9,False,"rolling, ewma, expanding"
37,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False,Internal refactoring of code
38,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
39,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
40,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
41,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
42,76812,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...,Enhancement,4E9A06,False,None
43,251382258,MDU6TGFiZWwyNTEzODIyNTg=,https://api.github.com/repos/pandas-dev/pandas...,IO LaTeX,006b75,False,to_latex
44,1728592794,MDU6TGFiZWwxNzI4NTkyNzk0,https://api.github.com/repos/pandas-dev/pandas...,Styler,006b75,False,conditional formatting using DataFrame.style
45,,,,,,,
46,,,,,,,
47,,,,,,,
48,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
49,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...

In [69]:
#solution 3
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
#resp=requests.get(url)
data=pd.read_json(url)
df=pd.DataFrame(data,columns=['number','title',
                              'user','state','label'])

#split keys and values in column
import json
from pandas.io.json import json_normalize
user_data=json_normalize(data['user'])

#concating both data set to display all column
df3=pd.concat([data[:],user_data[:]],axis=1)
df3.head()

#not selecting user column since split
df4=pd.concat([data[['number','title','state']],user_data[:]],axis=1)
df4.head()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_5567/3479552509.py:12: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  user_data=json_normalize(data['user'])

,number,title,state,login,id,node_id,avatar_url,gravatar_id,url,html_url,...,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,46162,Bug Fix GroupBy.describe produces inconsistent...,open,weikhor,36619387,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,...,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User,False
1,46161,Update test_fillna.py,open,weikhor,36619387,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,...,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User,False
2,46160,Backport PR #46124 on branch 1.4.x (DOC: Impro...,open,meeseeksmachine,39504233,MDQ6VXNlcjM5NTA0MjMz,https://avatars.githubusercontent.com/u/395042...,,https://api.github.com/users/meeseeksmachine,https://github.com/meeseeksmachine,...,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/g...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/orgs,https://api.github.com/users/meeseeksmachine/r...,https://api.github.com/users/meeseeksmachine/e...,https://api.github.com/users/meeseeksmachine/r...,User,False
3,46159,Backport PR #45902 on branch 1.4.x (Use Mamba ...,open,meeseeksmachine,39504233,MDQ6VXNlcjM5NTA0MjMz,https://avatars.githubusercontent.com/u/395042...,,https://api.github.com/users/meeseeksmachine,https://github.com/meeseeksmachine,...,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/g...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/orgs,https://api.github.com/users/meeseeksmachine/r...,https://api.github.com/users/meeseeksmachine/e...,https://api.github.com/users/meeseeksmachine/r...,User,False
4,46158,Backport PR #46118 on branch 1.4.x (CI: Align ...,open,meeseeksmachine,39504233,MDQ6VXNlcjM5NTA0MjMz,https://avatars.githubusercontent.com/u/395042...,,https://api.github.com/users/meeseeksmachine,https://github.com/meeseeksmachine,...,https://api.github.com/users/meeseeksmachine/f...,https://api.github.com/users/meeseeksmachine/g...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/s...,https://api.github.com/users/meeseeksmachine/orgs,https://api.github.com/users/meeseeksmachine/r...,https://api.github.com/users/meeseeksmachine/e...,https://api.github.com/users/meeseeksmachine/r...,User,False

# Load Data from sqllite, sql, mongodb

In [71]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
#con.execute(query)
con.commit()

In [72]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [73]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [74]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

In [75]:
#!/usr/bin/python
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [76]:
db.commit()

In [77]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [78]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [79]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [80]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [81]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [82]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)