# Load different type of Data

1. Load CSV data
2. Load Table data
3. Load Excel Data
4. Load SQL data
5. Load JSON data
6. Load HTML data
7. Load Clipboard data
8. Load dataframe
9.

In [1]:
import numpy as np
import pandas as pd
import os
from os import path

In [2]:
workingdir=os.getcwd()

In [3]:
path=workingdir+'/examples/ex1.csv'

In [4]:
path

'/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex1.csv'

In [5]:
#load the CSV file
df=pd.read_csv(path)

In [6]:
df.head()#show 1st five data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
type(df)#this is dataframe

pandas.core.frame.DataFrame

In [8]:
df.tail()#show last five row

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
#load tab separate data
df1=pd.read_table("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/test.tsv")

In [10]:
df1.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [12]:
#load tab separate data using "sep()"
df2=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/test.tsv",sep='\t')

In [13]:
df2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [14]:
#load csv data by table_table
df3=pd.read_table("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex1.csv",sep=",")

In [15]:
df3

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
#load csv data
df4=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex1.csv")

In [17]:
df4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
#load data without header
df5=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex1.csv",header=None)

In [19]:
df5

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [20]:
#load data with header by manually
df6=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex2.csv",names=['a','b','c','d'])

In [21]:
df6

    a   b   c      d
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

In [22]:
#parsed the data by multilebel indexes
parsed=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/csv_mindex.csv",
                   index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [23]:
#load data which are not read able format; here row 0,2,3 are not readable
df7=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex4.csv",
           skiprows=[0,2,3])
df7

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [24]:
#load data which is replaced NaN value by True or False 
result=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex5.csv")
result
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [25]:
df8=pd.read_csv("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex5.csv",
               na_values=['NULL'])
df8

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [26]:
#!pip install openpyxl

In [27]:
#load xcel data with different sheet
df=pd.read_excel("/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex1.xlsx",sheet_name='Sheet2')
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [28]:
#load html data
#read data from the specific url
#more html data will load by beautifull suop
url="https://www.basketball-reference.com/leagues/NBA_2019.html"
df1=pd.read_html(url)
df=df1[0]#convert data frame from list
df.head()
#df['W']#this is list;series data
df[['W','L']]# this is data frame

     W   L
0   60  22
1   58  24
2   51  31
3   49  33
4   48  34
5   42  40
6   42  40
7   41  41
8   39  43
9   39  43
10  32  50
11  29  53
12  22  60
13  19  63
14  17  65

In [29]:
#load (read) data from Github
titanic_train=pd.read_csv("https://raw.githubusercontent.com/HossainSanowar-Github/titanic_dataset/main/train.csv")
titanic_train[['Sex',"Name"]].head()

      Sex                                               Name
0    male                            Braund, Mr. Owen Harris
1  female  Cumings, Mrs. John Bradley (Florence Briggs Th...
2  female                             Heikkinen, Miss. Laina
3  female       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4    male                           Allen, Mr. William Henry

In [30]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [34]:
#display maximum 10 rows

pd.options.display.max_rows = 10
result = pd.read_csv('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [36]:
#display maximum 5 rows
# reduce the memory when the loading data
result = pd.read_csv('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex6.csv',
                    nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [37]:
# try to define the size
chunk = pd.read_csv('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex6.csv', chunksize=1000)
chunk

In [53]:
# Working with delimited formats
import csv
f=open('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex7.csv')
reader=csv.reader(f)
reader

In [54]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [61]:
with open('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex7.csv') as f:
    lines=list(csv.reader(f))

In [68]:
header, values = lines[0],lines[1:]
values

[['1', '2', '3'], ['1', '2', '3']]

In [109]:
zip(header, values)

In [110]:
list(zip(header, values))

[('a', ['1', '2', '3']), ('b', ['1', '2', '3'])]

In [115]:
list(zip(*values))

[('1', '1'), ('2', '2'), ('3', '3')]

In [112]:
list(zip(header, zip(*values)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [116]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [117]:
c,n=('a',(1,1))

In [119]:
n

(1, 1)

In [121]:
l1=['a','b','c']
l2=[1,2,3]

In [122]:
for i in zip(l1,l2):
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [123]:
{k:v for k,v in zip(l1,l2)}

{'a': 1, 'b': 2, 'c': 3}

# JSON Data

http://jsonviewer.stack.hu/

In [72]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [74]:
#convert str to dict
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [124]:
#convert dict to str
asjson=json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [79]:
siblings = pd.DataFrame(result['siblings'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [81]:
data = pd.read_json('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [82]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

# XML and HTML: Web Scaping

In [86]:
data = pd.read_html('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/fdic_failed_bank_list.html')
len(data)
failure=data[0]
failure.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [90]:
close_timestamps=pd.to_datetime(failure['Closing Date'])
close_timestamps.dt.year.value_counts()
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

# Binary Data Formats

In [93]:
frame= pd.read_csv('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/ex1.csv')
frame.to_pickle('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/frame_pickle')

In [94]:
pd.read_pickle('/Users/mdsanowarhossain/Documents/python/ineuron/pandas/Data Ananlysis/examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Using HDF5 Format

In [99]:
# !pip install tables

Requirement already satisfied: tables in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (3.7.0)
Requirement already satisfied: packaging in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from tables) (21.3)
Requirement already satisfied: numpy>=1.19.0 in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from tables) (1.19.5)
Requirement already satisfied: numexpr>=2.6.2 in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from tables) (2.7.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages (from packaging->tables) (3.0.4)

In [102]:

# frame=pd.DataFrame({'a':np.random.randn(100)})
# store=pd.HDFStore('mydata.h5')
# store['obj1']=frame
# store['obj1_col']=frame['a']
# store

# Web APIs

In [104]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
resp

In [105]:
data=resp.json()
data[2]['user']

{'login': 'arnau126',
 'id': 7932044,
 'node_id': 'MDQ6VXNlcjc5MzIwNDQ=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/7932044?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/arnau126',
 'html_url': 'https://github.com/arnau126',
 'followers_url': 'https://api.github.com/users/arnau126/followers',
 'following_url': 'https://api.github.com/users/arnau126/following{/other_user}',
 'gists_url': 'https://api.github.com/users/arnau126/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/arnau126/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/arnau126/subscriptions',
 'organizations_url': 'https://api.github.com/users/arnau126/orgs',
 'repos_url': 'https://api.github.com/users/arnau126/repos',
 'events_url': 'https://api.github.com/users/arnau126/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/arnau126/received_events',
 'type': 'User',
 'site_admin': False}

In [106]:
issues=pd.DataFrame(data,columns=['number','title','labels','state'])
issues

,number,title,labels,state
0,45318,ENH: Add allow_duplicates to MultiIndex.to_frame,[],open
1,45317,BUG:,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,45316,BUG: Series.replace not working if there are d...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,45315,Behavior change of 1.4.rc0 when group by `appl...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,45314,BUG: GeoDataFrame attribute dropped by pandas ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
...,...,...,...,...
25,45286,BUG: pandas to_hdf has a problem with compress...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,45285,BUG: setitem into complex64 overflow,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,45284,BUG: Wrong result after comparison SparseArray...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,45283,"[BUG] do not replace all nulls with ""NaN""-stri...","[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
29,45277,PERF: Memory leak with pandas.Series.str.repla...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open

# How to get data of labels columns using dataframe

In [156]:
#solution 1
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)

resp
d1=resp.json()
masterDF=pd.DataFrame(columns=['id','node_id','url','name','color','default','description'])
for i in range(30):
    s= pd.DataFrame(d1[i]['labels'],columns=['id','node_id','url','name','color','default','description'])
    masterDF=masterDF.append(s,ignore_index=True)
masterDF

,id,node_id,url,name,color,default,description
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
2,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
3,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
4,3555077089,LA_kwDOAA0YD87T5ivh,https://api.github.com/repos/pandas-dev/pandas...,Astype,FD8B10,False,
...,...,...,...,...,...,...,...
35,31404521,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...,Dtype Conversions,e102d8,False,Unexpected or buggy dtype conversions
36,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
37,47229190,MDU6TGFiZWw0NzIyOTE5MA==,https://api.github.com/repos/pandas-dev/pandas...,IO HDF5,5319e7,False,"read_hdf, HDFStore"
38,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
39,87485152,MDU6TGFiZWw4NzQ4NTE1Mg==,https://api.github.com/repos/pandas-dev/pandas...,Deprecate,5319e7,False,Functionality to remove in pandas

In [158]:
#solution2
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
data=resp.json()
df=pd.DataFrame(data,columns=['labels'])

x=[]
for i in range(len(df)):
    if len(df['labels'][i])==0:
        y={
            'id':'',
            'node_id':"",
            'url':"",
            'name':'',
            'color':'',
            'default':'',
            'description':''
        }
        x.append(y)
    elif len(df['labels'][i])!=0:
        for j in range(len(df['labels'][i])):
            x.append(df['labels'][i][j])
pd.DataFrame(x)

,id,node_id,url,name,color,default,description
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
2,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
3,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
4,3555077089,LA_kwDOAA0YD87T5ivh,https://api.github.com/repos/pandas-dev/pandas...,Astype,FD8B10,False,
...,...,...,...,...,...,...,...
45,31404521,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...,Dtype Conversions,e102d8,False,Unexpected or buggy dtype conversions
46,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
47,47229190,MDU6TGFiZWw0NzIyOTE5MA==,https://api.github.com/repos/pandas-dev/pandas...,IO HDF5,5319e7,False,"read_hdf, HDFStore"
48,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
49,87485152,MDU6TGFiZWw4NzQ4NTE1Mg==,https://api.github.com/repos/pandas-dev/pandas...,Deprecate,5319e7,False,Functionality to remove in pandas

In [159]:
#solution 3
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
#resp=requests.get(url)
data=pd.read_json(url)
df=pd.DataFrame(data,columns=['number','title',
                              'user','state','label'])

#split keys and values in column
import json
from pandas.io.json import json_normalize
user_data=json_normalize(data['user'])

#concating both data set to display all column
df3=pd.concat([data[:],user_data[:]],axis=1)
df3.head()

#not selecting user column since split
df4=pd.concat([data[['number','title','state']],user_data[:]],axis=1)
df4.head()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_73296/3479552509.py:12: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  user_data=json_normalize(data['user'])

,number,title,state,login,id,node_id,avatar_url,gravatar_id,url,html_url,...,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,45328,BUG: accessor can't access `__name__`,open,Zeroto521,25895405,MDQ6VXNlcjI1ODk1NDA1,https://avatars.githubusercontent.com/u/258954...,,https://api.github.com/users/Zeroto521,https://github.com/Zeroto521,...,https://api.github.com/users/Zeroto521/followi...,https://api.github.com/users/Zeroto521/gists{/...,https://api.github.com/users/Zeroto521/starred...,https://api.github.com/users/Zeroto521/subscri...,https://api.github.com/users/Zeroto521/orgs,https://api.github.com/users/Zeroto521/repos,https://api.github.com/users/Zeroto521/events{...,https://api.github.com/users/Zeroto521/receive...,User,False
1,45326,BUG: series.astype(str) vs Index.astype(str) i...,open,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
2,45325,TST: Split/parameterize indexing tests,open,mroeschke,10647082,MDQ6VXNlcjEwNjQ3MDgy,https://avatars.githubusercontent.com/u/106470...,,https://api.github.com/users/mroeschke,https://github.com/mroeschke,...,https://api.github.com/users/mroeschke/followi...,https://api.github.com/users/mroeschke/gists{/...,https://api.github.com/users/mroeschke/starred...,https://api.github.com/users/mroeschke/subscri...,https://api.github.com/users/mroeschke/orgs,https://api.github.com/users/mroeschke/repos,https://api.github.com/users/mroeschke/events{...,https://api.github.com/users/mroeschke/receive...,User,False
3,45324,DEPR: inconsistent series[i:j] slicing with In...,open,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
4,45322,ENH: Suggestions on pd.merge,open,mIgLLL,31037879,MDQ6VXNlcjMxMDM3ODc5,https://avatars.githubusercontent.com/u/310378...,,https://api.github.com/users/mIgLLL,https://github.com/mIgLLL,...,https://api.github.com/users/mIgLLL/following{...,https://api.github.com/users/mIgLLL/gists{/gis...,https://api.github.com/users/mIgLLL/starred{/o...,https://api.github.com/users/mIgLLL/subscriptions,https://api.github.com/users/mIgLLL/orgs,https://api.github.com/users/mIgLLL/repos,https://api.github.com/users/mIgLLL/events{/pr...,https://api.github.com/users/mIgLLL/received_e...,User,False

# Interacting with Databases

In [ ]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

In [ ]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [ ]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [ ]:
db.commit()

In [ ]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

In [ ]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

In [ ]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

In [ ]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

In [ ]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

In [ ]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)