# Statistics

1. df.describe()
2. df.mean()
3. df.corr()
4. df.count()
5. df.max()
6. df.min()
7. df.median()
8. df.std()

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("test.csv")
df=data.copy()

In [3]:
#summary statistic for numerical columns
df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [4]:
#Returns the mean of all columns
df.mean()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_7420/2610679292.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

PassengerId    1100.500000
Pclass            2.265550
Age              30.272590
SibSp             0.447368
Parch             0.392344
Fare             35.627188
dtype: float64

In [5]:
#Returns the corelation between columns in a dataFrame
df.corr()

             PassengerId    Pclass       Age     SibSp     Parch      Fare
PassengerId     1.000000 -0.026751 -0.034102  0.003818  0.043080  0.008211
Pclass         -0.026751  1.000000 -0.492143  0.001087  0.018721 -0.577147
Age            -0.034102 -0.492143  1.000000 -0.091587 -0.061249  0.337932
SibSp           0.003818  0.001087 -0.091587  1.000000  0.306895  0.171539
Parch           0.043080  0.018721 -0.061249  0.306895  1.000000  0.230046
Fare            0.008211 -0.577147  0.337932  0.171539  0.230046  1.000000

In [6]:
#Returns number of non-null values in each dataFrame
df.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [7]:
#Returns the highest values in each column
df.max()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_7420/3161819923.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.max()

PassengerId                                 1309
Pclass                                         3
Name           van Billiard, Master. Walter John
Sex                                         male
Age                                         76.0
SibSp                                          8
Parch                                          9
Ticket                               W.E.P. 5734
Fare                                    512.3292
Embarked                                       S
dtype: object

In [8]:
#Returns the lowest values in each column
df.min()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_7420/826308610.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.min()

PassengerId                              892
Pclass                                     1
Name           Abbott, Master. Eugene Joseph
Sex                                   female
Age                                     0.17
SibSp                                      0
Parch                                      0
Ticket                                110469
Fare                                     0.0
Embarked                                   C
dtype: object

In [9]:
#Returns the median of each column
df.median()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_7420/3112286754.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

PassengerId    1100.5000
Pclass            3.0000
Age              27.0000
SibSp             0.0000
Parch             0.0000
Fare             14.4542
dtype: float64

In [10]:
#Returns the standard deviation of each column
df.std()

/var/folders/70/xyz7khq54gx8qklx52wtt6tw0000gn/T/ipykernel_7420/2731408939.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

PassengerId    120.810458
Pclass           0.841838
Age             14.181209
SibSp            0.896760
Parch            0.981429
Fare            55.907576
dtype: float64